body {
    margin: 0;
    height: 100vh;
    transition: background-color 0.5s;
}

.color-blocks {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 10px;
    top: 10px;
}

.color-block {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid black;}

.close-button {
    margin-top: 5px; 
    width: 50px; 
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    border: 1px solid black; 
    color: black; 
    margin-left: 5px;
}
